<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Chat IO</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="myAppLogin" ng-controller="myCtrlLogin">
  <div class="login-page">
    <div class="form">
      <div style="background-color: gainsboro;margin-bottom: 10px;">
        👋 Chat IO System
      </div>
      <div class="form-line"></div>
      <div style="margin-top: 18px;">
        <div class="login-form">
          <input type="text" name="username" placeholder="username" ng-model="username" />
          <button type="button" ng-click="onRegister()">register</button>
        </div>
      </div>
    </div> <!-- end form -->
  </div> <!-- end login container -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>