<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Chat IO</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="login-page">
    <div class="form">
      <div style="background-color: gainsboro;margin-bottom: 10px;">
        👋 Chat IO System
      </div>
      <div class="form-line"></div>
      <div style="margin-top: 18px;">
        <form action="/login" class="login-form" method="post">
          <input type="text" name="username" placeholder="username" />
          <button type="submit">register</button>
        </form>
      </div>
    </div> <!-- end form -->
  </div> <!-- end login container -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>

</html>